.container {
  padding: 3rem;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    gap: 2rem;
    height: 100vh;
    font-size: 3rem;
}

.button {
  padding: 1rem 2rem;
  font-size: 2rem;
  background-color: var(--primary-light);
  color: var(--primary-contrast-dark);
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.3s ease;
}