.footer {
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    flex-direction: row;
    padding: 2rem;
}
.footer p {
    color: #000000;
    font-size: 1.5rem;
    text-align: left;
    padding: 1rem;
}
.footer h2 {
    color: var(--primary-light);
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;  
    font-family: Dancing Script, cursive;
}
.card {
  background-color: var(--primary-light);
  border-radius: 2rem;
  color: var(--primary-contrast-dark);
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}